:root {
    /* COLORS */

    --Dark-cyan: hsl(158,36%,37%);
    --Darker-cyan: hsl(158,36%,20%);
    --Cream: hsl(30,38%,92%);

    --Dark-blue: hsl(212,21%,14%);
    --Grayish-blue: hsl(228,12%,48%);
    --White: hsl(0,0%,100%);

    /* FONTS */

    --Fraunces: 'Fraunces', serif;
    --Montserrat: 'Montserrat', sans-serif;

    /* WEIGHTS */

    --regular: 500;
    --bold: 700; 

}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

body {

    font-family: var(--Fraunces);
    font-weight: var(--regular);
    color: var(--Grayish-blue);
    font-size: 0.875rem;
    background-color: var(--Cream);
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}
.prices {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.product {
    background-color: var(--White);
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    overflow: hidden;
    max-width: 600px;
}

@media (min-width: 600px) {
    .product {
      --content-padding: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

.product_content {
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
}

.product_category {
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product_title {
    font-size: 2rem;
    font-family: var(--Fraunces);
    color: var(--Dark-blue);
}
.price {
    font-size: 2rem;
    font-family: var(--Fraunces);
    color: var(--Dark-cyan);
}
.cart{
    cursor: pointer;
    border: 0;
    border-radius: .5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    text-decoration: none;
    padding: .75rem 1.5rem;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-weight: var(--bold);
    font-size: 1rem;
}

.cart:is(:hover, :focus) {
    background-color: var(--Darker-cyan);
}
.cart[data-icon="shopping-cart"]::before {
    content: "";
    width: 15px;
    height: 16px;
    background-image: url("../../images/icon-cart.svg");
}
